# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# ---- Virtual environment ----
venv/
env/
.venv/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- Logs ----
*.log

# ---- OS-specific ----
.DS_Store
Thumbs.db

# ---- ML / Data ----
results/
*.csv
*.xlsx
*.h5
*.joblib
*.pth
*.pt

# ---- IDEs ----
.vscode/
.idea/

# ---- Other ----
*.cache
